/* Global Styles */
#container {
    display: flex;
    flex-direction: column;
  }
  
  #contentContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure content container fills entire viewport */
    overflow: hidden; /* Prevent content overflow */
  }
  
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  #sidebar {
    background-color: #343a40;
    color: #fff;
    transition: transform 0.3s ease-in-out;
  }
  
  #sidebar img {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    /* For smaller screens (mobile) */
    #container {
      flex-direction: column;
    }
  
    #contentContainer {
      overflow-y: auto; /* Enable vertical scrolling */
    }
  
    .sidebar-left {
      display: none; /* Hide left sidebar */
    }
  
    .menu-right {
      justify-content: center;
      margin-top: 10px;
    }
  
    #sidebarActive {
      transform: translateY(-100%); /* Slide up top/bottom menu */
    }
  
    #mainContent {
      padding: 10px;
    }
  }
  
  @media (min-width: 769px) {
    /* For larger screens (desktop) */
    .sidebar-left {
      flex: 0 0 250px; /* Fixed width for left sidebar */
      order: -1; /* Move sidebar to top in flex order */
    }
  
    #header {
      padding: 10px 20px;
    }
  
    #contentContainer {
      flex-direction: row; /* Align content side-by-side */
    }
  
    .menu-right {
      margin-right: 20px;
    }
  
    #sidebarActive {
      transform: translateX(-100%); /* Slide left sidebar off-screen */
    }
  
    #mainContent {
      flex: 1; /* Allow content to expand to fill remaining space */
      padding: 20px;
    }
  }
  