 <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
      
          <ul class="navbar-nav me-auto" *ngFor="let cat of categoryArrays">
            <li class="nav-item ml-2">
              <h6>
                <a class="nav-link" [routerLink]="['/category', cat.data.category, cat.id]" (click)="isCollapsed = !isCollapsed">
                  {{ cat.data.category }}
                </a>
              </h6>
            </li>
          </ul>
          <li *ngFor="let category of categoryArrays" class="nav-item ml-2">
            <h6>
              <a class="nav-link" [routerLink]="['/category', category.id]" routerLinkActive="active-link">
                {{ category.category }}
              </a>
            </h6>
            </li>
        </ul>
      </nav>
    </div>
   